
.idea/.idea.AplicativoDeComida/.idea/aws.xml
.idea/.idea.AplicativoDeComida/.idea/encodings.xml
.idea/.idea.AplicativoDeComida/.idea/indexLayout.xml
.idea/.idea.AplicativoDeComida/.idea/vcs.xml
obj/AplicativoDeComida.csproj.nuget.dgspec.json
obj/AplicativoDeComida.csproj.nuget.g.props
obj/Debug/net7.0/AplicativoDeComida.AssemblyInfo.cs
obj/Debug/net7.0/AplicativoDeComida.AssemblyInfoInputs.cache
obj/Debug/net7.0/AplicativoDeComida.assets.cache
obj/Debug/net7.0/AplicativoDeComida.csproj.AssemblyReference.cache
obj/Debug/net7.0/AplicativoDeComida.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
